---
// Import the `<StarlightPage>` component first to set up cascade layers.
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { Card, CardGrid, LinkButton } from '@astrojs/starlight/components';
import icpSvg from '@dfinity/starlight/assets/icp.svg';
---

<StarlightPage
  frontmatter={{
    title: 'ICP JavaScript SDK Core',
    template: 'splash',
    next: false,
    prev: false,
    hero: {
      title: `ICP JavaScript SDK <span class="dfn-text-gradient">Core</span>`,
      tagline:
        'Build applications that interact with the Internet Computer from browsers, Node.js, and other JavaScript runtimes.',
      image: {
        file: icpSvg,
        alt: 'Internet Computer Logo',
      },
    },
  }}
>
  <section>
    <h3>Modules</h3>

    <CardGrid>
      <Card title="Agent">
        Build applications that interact with the Internet Computer from browsers, Node.js, and
        other JavaScript runtimes.

        <LinkButton href="libs/agent" variant="minimal" icon="right-caret" iconPlacement="start">
          See <code class="dfn-text-highlight">@icp-sdk/core/agent</code> docs
        </LinkButton>
      </Card>

      <Card title="Candid">
        JavaScript and TypeScript module to work with Candid interfaces.

        <LinkButton href="libs/candid" variant="minimal" icon="right-caret" iconPlacement="start">
          See <code class="dfn-text-highlight">@icp-sdk/core/candid</code> docs
        </LinkButton>
      </Card>

      <Card title="Identity">
        JavaScript and TypeScript module to manage Identities and enable simple Web Authentication flows.

        <LinkButton href="libs/identity" variant="minimal" icon="right-caret" iconPlacement="start">
          See <code class="dfn-text-highlight">@icp-sdk/core/identity</code> docs
        </LinkButton>
      </Card>

      <Card title="Principal">
        JavaScript and TypeScript module to work with Internet Computer Principals.

        <LinkButton
          href="libs/principal"
          variant="minimal"
          icon="right-caret"
          iconPlacement="start"
        >
          See <code class="dfn-text-highlight">@icp-sdk/core/principal</code> docs
        </LinkButton>
      </Card>

    </CardGrid>
  </section>

  <section>
    <h3>Upgrading</h3>

    <CardGrid>
      <Card title="ICP JS SDK Core">
        <p>
          If you're using <code>@dfinity/agent</code> version 3.x, you can migrate to
          <code>@icp-sdk/core</code> with the help of our automated migration tools or manual migration
          guide.
        </p>

        <LinkButton
          href="upgrading/v4"
          variant="minimal"
          icon="right-caret"
          iconPlacement="start"
        >
          Migrate to <code class="dfn-text-highlight">@icp-sdk/core</code>
        </LinkButton>
      </Card>

      <Card title="Agent JS v3">
        <p>
          If you're still using <code>@dfinity/agent</code> version 2.x, you can migrate to 3.x with
          the help of our migration guide.
        </p>

        <LinkButton
          href="upgrading/v3"
          variant="minimal"
          icon="right-caret"
          iconPlacement="start"
        >
          Migrate to <code class="dfn-text-highlight">@dfinity/agent@v3</code>
        </LinkButton>
      </Card>
    </CardGrid>
  </section>
</StarlightPage>
