name: Check Lint
on:
  pull_request:
    types:
      - opened
      - reopened
      - edited
      - synchronize

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        ghc: ['8.8.4']
        spec:
          - release-0.16 # https://github.com/dfinity-lab/ic-ref/tree/release-0.16
        node:
          - 22
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
      - run: npm install -g npm
      - run: npm install
      - run: npm run lint
