name: Node.js CI

on: [push]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04]
        ghc: ['8.8.4']
        spec: ['release-0.15']
        node:
          - 12
          - 14

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      # See if we can lint before full build/test
      - run: npm ci --ignore-scripts
      - run: npm run lint --if-present

      # full install, including npm postinstall, prepare
      - run: npm ci
      # build monorepo incl. each subpackage
      - run: npm run build --if-present

      # test monorepo incl. each subpackage
      - run: npm test
        env:
          CI: true

      - uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - run: pip3 install mitmproxy~=6.0.2

      # IC ref checkout and build.
      - uses: actions/checkout@v2
        with:
          repository: 'dfinity-lab/ic-ref'
          # Personal Read-only Access Token created by hans.larsen@dfinity.org
          token: ${{ secrets.IC_REF_TOKEN }}
          path: ic-ref
          ref: ${{ matrix.spec }}

      - name: Cache ~/.cabal/store
        uses: actions/cache@v2
        with:
          path: |
            ~/.cabal/store
          key: ${{ runner.os }}-${{ matrix.ghc }}-cabal-store

      - uses: actions/setup-haskell@v1.1.3
        with:
          ghc-version: ${{ matrix.ghc }}
          cabal-version: '3.2'

      - name: Cargo cache
        uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Build ic-ref
        run: |
          ls -l /opt/ghc/
          export PATH=/opt/ghc/bin:$PATH
          cabal --version
          ghc-${{ matrix.ghc }} --version
          mkdir -p $HOME/bin
          cd ic-ref/impl
          cabal update
          cabal install -w ghc-${{ matrix.ghc }} --overwrite-policy=always  --installdir=$HOME/bin

      - name: Running ic-ref
        id: ic_ref
        run: |
          set -ex
          $HOME/bin/ic-ref --pick-port --write-port-to $HOME/ic_ref_port &
          sleep 1
          echo "::set-output name=IC_REF_PORT::$(cat $HOME/ic_ref_port)"

      - name: Running mitmdump
        id: mitmdump
        run: |
          set -ex
          mitmdump -p 8888 --mode reverse:http://localhost:${{ steps.ic_ref.outputs.IC_REF_PORT }} \
             --modify-body '/~s/Hello/Hullo' \
             --modify-headers '/~s/Transfer-Encoding/' \
             &
          sleep 1

      - run: npm run e2e
        env:
          CI: true
          IC_REF_PORT: ${{ steps.ic_ref.outputs.IC_REF_PORT }}

      - name: mitm e2e
        env:
          CI: true
          IC_REF_PORT: 8888
          MITM: true
        run: npm run mitm

      - name: clean up
        run: |
          killall mitmdump
          killall ic-ref
