name: 'size'
on:
  pull_request:
    branches:
      - main
jobs:
  size:
    runs-on: ubuntu-latest
    env:
      CI_JOB_NUMBER: 1
    steps:
      - uses: actions/checkout@v1
      - run: npm install -g npm
      - run: npm install

      - run: npm run bundle --workspaces --if-present
      - run: npm run size-limit --workspaces --if-present

      # commented out until the job can be configured
      # - uses: andresz1/size-limit-action@v1
      #   with:
      #     github_token: ${{ secrets.GITHUB_TOKEN }}
      #     build_script: npm run bundle --workspaces --if-present
      #     script: npm run size-limit --workspaces --if-present
